@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
html {
  scroll-behavior: smooth;
}

.navbar{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 50px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -5px;
}
#title{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#title:before,
#title:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#title:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#title:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
.About{
  width: 80%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #000000;
  background-image:  radial-gradient(#6d6c6c 0.5px, transparent 0.5px), radial-gradient(#ffffff 0.5px, #000000 0.5px);
  background-size: 20px 20px;
  color: #fff;
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
  padding:0 10%;
  line-height: 40px;
}

.Projects {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  background-color: #000000;
  background-image:  radial-gradient(#6d6c6c 0.5px, transparent 0.5px), radial-gradient(#ffffff 0.5px, #000000 0.5px);
  background-size: 20px 20px;
  color: #fff;
  padding: 90px 5% 0 5%;
  /* background-color: rgba(138, 240, 253, 0.801); */
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}